@use '@shared/styles/main' as main;

.container {
  position: relative;
  margin: 0 auto;
  /*   background-color: azure; */
  width: 100%;
  //Стили контейнера
  max-width: 640px;
  /*  overflow: hidden; */
}
