@use '@shared/styles/main' as main;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.wrap {
  position: relative;
  color: main.$color-text-primary;
  &:hover {
    border-color: main.$color-border-hover;
  }
}

.display {
  position: relative;
  cursor: pointer;
  margin-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: main.$color-bg-secondary;
  padding: 10px;
  padding: 10px 12px;
  width: 420px;
  height: 40px;

  &:hover {
    border-color: main.$color-border-hover;
  }

  &:focus {
    outline: none;
    border-width: 2px;
    border-color: main.$color-border-focus;
  }
}

.dropdown {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  box-shadow: main.$shadow;
  border-radius: 8px;
  background-color: main.$color-bg-secondary;
  padding: 8px 0 8px;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  height: 44px;
  &:hover {
    background-color: main.$color-bg-tertiary;
    font-weight: 500;
  }
}

.active {
  background-color: main.$color-bg-tertiary;
  font-weight: 500;
}

.checkbox {
  margin-right: 10px;
}

.icon {
  position: absolute;
  right: 12px;
  color: main.$color-text-primary;
}

.field {
  display: inline-block;
  width: 90%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
