//colors
$color-bg-primary: #f7f7f7;
$color-bg-secondary: #fff;
$color-bg-tertiary: #f2f2f2;

$color-bg-dark-primary: #3b3b3b;
$color-bg-dark-secondary: #4e4e4e;
$color-bg-dark-tertiary: #5f5f5f;

$color-text-primary: #333;
$color-text-secondary: #808080;
$color-delete-button: #d72323;

//buttons
$color-icon-button-bg-primary-hover: #f5f5f5;
$color-icon-button-bg-primary-active: #ebe6ff;

$color-text-button-bg-primary-hover: #626262;
$color-text-button-bg-primary-active: #767676;
$color-text-button-border-primary: #ccc;
$color-text-button-border-primary-hover: #999;
$color-text-button-border-primary-active: #6243e6;

/* $color-border-regular: #bfbfbf; */
$color-border-regular: #ccc;
$color-border-hover: #808080;
$color-border-focus: #35cdfd;
$color-border-photo-hover: #6243e6;

$color-border-check: #b3b3b3;

$color-shadow: rgba(0, 0, 0, 0.12);

//shadows
$shadow: 0 3px 8px 0 $color-shadow;

//font-sizes
$font-caption: 11px;
$font-small: 13px;
$font-medium: 14px;
$font-large: 28px;

//ui states
$color-error: #d72323;
