//colors
$color-bg-primary: #fff;
$color-bg-secondary: #f0f2f5;
$color-text-primary: #1a1a1a;
$color-text-secondary: #111b21;
$color-text-placeholder: #54656f;
$color-bg-outgoing: #d9fdd3;
$color-bg-btn: #00a783;

//font-sizes
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;
