@use '@shared/styles/main' as main;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: main.$color-bg-dark-primary;
  color: main.$color-icon-button-bg-primary-hover;

  &.medium {
    width: 36px;
    height: 36px;
  }

  &.small {
    width: 28px;
    height: 28px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &:hover {
    background: main.$color-text-button-bg-primary-hover;
  }
  &:active {
    background: main.$color-text-button-bg-primary-active;
  }
}
