@use '@shared/styles/main' as main;

.modal {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
}

.heading {
  font-weight: 700;
  font-size: main.$font-medium;
  letter-spacing: 0.3px;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
