@use '/src/shared/styles/abstracts/variables' as main;

.info {
  display: flex;
  position: relative;
  align-items: center;
  gap: 20px;
  z-index: 150;
  background-color: main.$color-bg-secondary;
  padding: 9px 20px 10px;
  width: 100%;
  font-size: main.$font-medium;

  & .avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  & .phone {
    color: main.$color-text-secondary;
  }
}
