@use '/src/shared/styles/abstracts/variables' as main;

.wrap {
  display: flex;
  flex: 1;
  align-items: center;
  outline: none;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, 0.13);
  border: none;
  border-radius: 8px;
  background-color: main.$color-bg-primary;
  padding-left: 9px;
  width: 100%;
}
